.color-palette1 {
    background-color: #272822;
    padding-bottom: 100px;
    color: white;
}

.color-palette2 {
    background-color: #d5a95a;
    padding-bottom: 100px;
}

.color-palette3 {
    background-color: #d9d1cf;
    padding-bottom: 100px;
}

.color-palette4 {
    background-color: #553620;
    padding-bottom: 100px;
    color: white;
}

.color-palette5 {
    background-color: #da2d2d;
    padding-bottom: 100px;
}

.header1 {
    font-family: "Verdana";
    font-size: 2em;
}

.header2 {
    font-family: "Verdana";
    font-size: 1.5em;
}

.p {
    font-family: "Verdana";
    font-size: 0.8em;
}

.menubar {
    font-family: "Arial Black";
}

.menubar-hover {
    font-family: "Tahoma";
}

.contact-us {
    font-family: "Arial";
}

.button1 {
    background-color: #272822;
    width: 200px;
    text-align: center;
    color: white;
    padding: 0.5em 1em;
    border-bottom: 2px solid #da2d2d;
}

.button1:hover {
    background-color: #da2d2d;
}

form {
    background-color: #272822;
    color: white;
    width: 400px;
    padding: 1em;
}

form input {
    float: right;
}

.yao-img {
    width: 100%;
    margin: 1em;
}
